.movie-list-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    height: 100vh;
  }
  
.title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Centra el texto del título */
  }

  .random-list-button {
    text-align: center; /* Centra el texto del botón */
    padding: 10px 20px; /* Ajusta el relleno del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-style: oblique;
    margin-bottom: 20px;
  }

  button:hover {
    background-color: var(--secondary-color);
  }

  .movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Divide en 3 columnas */
    gap: 20px; /* Espacio entre las columnas */
    list-style-type: none;
    text-align: center;
    justify-content: center;
  }

  .main-logo {
    size: auto;
    margin-bottom: 20px;
  }